body {
    background-image: url('../assets/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

@media (max-width: 768px) {
    body {
        background-size: cover;
    }
}

:root {
    --primary-blue-color: #5F7FFF;
    --primary-background-color: #333;
    --primary-white-color: #fff;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary-blue-color);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}